services:
  build-image:
    image: card-ecg
    command: bash -c "echo build-image completed."
    build: .
  build-hex:
    image: card-ecg
    command: bash -c "make clean && make"
    depends_on:
      - build-image
    volumes:
      - ./:/app
  code-complexity:
    image: card-ecg
    command: bash -c "make code-complexity"
    depends_on:
      - build-image
    volumes:
      - ./:/app
  cppcheck:
    image: card-ecg
    command: bash -c "make cppcheck"
    depends_on:
      - build-image
    volumes:
      - ./:/app
  clang-tidy:
    image: card-ecg
    command: bash -c "make clang-tidy"
    depends_on:
      - build-image
    volumes:
      - ./:/app
  unit-tests:
    image: card-ecg
    command: bash -c "make tests"
    depends_on:
      - build-image
    volumes:
      - ./:/app
  code-coverage:
    image: card-ecg
    command: bash -c "make coverage"
    depends_on:
      - build-image
    volumes:
      - ./:/app
