services:
  build-image:
    image: card-ecg
    command: bash -c "echo build-image completed."
    build: .
  build-hex:
    image: card-ecg
    command: bash -c "make clean && make"
    depends_on:
    - build-image
    volumes:
    - ./:/app
  code-complexity:
    image: card-ecg
    command: bash -c "cd tests/StaticAnalysis && \
                      chmod +x code-complexity.sh && ./code-complexity.sh"
    depends_on:
    - build-image
    volumes:
    - ./:/app
  cppcheck:
    image: card-ecg
    command: bash -c "cd tests/StaticAnalysis && chmod +x cppcheck.sh && \
                      ./cppcheck.sh"
    depends_on:
    - build-image
    volumes:
    - ./:/app
  clang-tidy:
    image: card-ecg
    command: bash -c "cd tests/StaticAnalysis && chmod +x clang-tidy.sh && \
                      ./clang-tidy.sh"
    depends_on:
    - build-image
    volumes:
    - ./:/app
  unit-tests:
    image: card-ecg
    command: bash -c "make tests"
    depends_on:
    - build-image
    volumes:
    - ./:/app
  code-coverage:
    image: card-ecg
    command: bash -c "make coverage"
    depends_on:
    - build-image
    volumes:
    - ./:/app
