name: Docs

on:
  push:
    branches: [ main ]

  # allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  create-docs:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: install required packages
        run:  sudo apt-get install -y doxygen graphviz
      - name: run doxygen
        run:  |
              cd tests/StaticAnalysis
              chmod +x 04-doxygen.sh && ./04-doxygen.sh
      - name: deploy to github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_token }}
          publish_dir: ./docs/html
          publish_branch: gh-pages
