name: Tests

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

  # allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build-hex:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: determine short GIT hash
        id:   vars
        run:  echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: build docker image
        run:  docker compose build
      - name: build hex file
        run:  docker compose run --rm build-hex
      - name: upload build artifact
        uses: actions/upload-artifact@v3
        with:
            name: card-ecg-${{ steps.vars.outputs.sha_short }}
            path: output/exe/card-ecg.hex
  static-analysis:
    runs-on: ubuntu-latest
    needs: build-hex # project has to build successfully before static analysis
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: build docker image
        run:  docker compose build
      - name: run complexity check
        continue-on-error: true
        run:  docker compose run --rm complexity-check
      - name: run cppcheck
        run:  docker compose run --rm cppcheck
      - name: run clang-tidy
        run:  docker compose run --rm clang-tidy
        if: always() # run even if cppcheck fails
  unit-tests:
    runs-on: ubuntu-latest
    needs: build-hex # project has to build successfully before unit tests
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: build docker image
        run:  docker compose build
      - name: run unit tests
        run:  docker compose run --rm unit-tests
      - name: check code coverage
        run:  docker compose run --rm code-coverage
      - name: add code coverage to job summary
        run:  cat tests/Ceedling/build/artifacts/gcov/GcovCoverageResults.md >> $GITHUB_STEP_SUMMARY
