# syntax for this file https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# help on github actions: https://docs.github.com/en/actions/learn-github-actions/introduction-to-github-actions
name: Tests

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  complexity-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: get updates
        run:  sudo apt-get update
      - name: install packages
        run:  |
              sudo apt-get install -y python3-pip
              pip install lizard
              lizard --version
      - name: run complexity check tool
        run:  |
              cd tests/StaticAnalysis
              chmod +x 01-code-complexity.sh
              ./01-code-complexity.sh
  code-linter:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: get updates
        run: sudo apt-get update
      - name: install packages
        run: |
             sudo apt-get install -y cppcheck
             cppcheck --version
      - name: run code linter tool
        run: |
             cd tests/StaticAnalysis
             chmod +x 02-code-linter.sh
             ./02-code-linter.sh
  unit-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: get updates
        run:  sudo apt-get update
      - name: install packages
        run:  |
              sudo apt-get install -y make ruby
              sudo gem install ceedling
              ceedling version
      - name: run all unit tests
        run: |
             cd tests/Ceedling
             chmod +x 01-unit-tests.sh
             ./01-unit-tests.sh
